.one-task {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: rgba(81, 77, 77, 0.221) solid 2px;
}

.task-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tasks-filter {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
}

.task-field {
    border: 1px solid var(--pale-slate);
    padding: 8px;
    border-radius: 4px;
    width: 30%;
    height: 5vh;
    margin-right: 5%;
}

.edit-field {
    border: 1px solid var(--pale-slate);
    padding: 8px;
    border-radius: 4px;
    height: 3vh;
    margin-right: 5%;
}

.add-button {
    background-color: var(--sea-buckthorn);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-form {
    display: flex;
    padding: 8px;
    justify-content: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--pale-slate);
    margin: 0;
    font: inherit;
    width: 1.35em;
    height: 1.35em;
    border: 0.15em solid var(--salt-box);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

}

input[type="checkbox"]::before {
    content: "";
    width: 0.95em;
    height: 0.95em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--salt-box);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.task-controls {
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-items: center;
}

.edit {
    width: 100%;
}

.delete {
    width: 100%;
}

.flex-item {
    background-color: var(--pale-slate);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 8%;
    cursor: pointer;
    padding: 2vh;
}