.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    height: 45vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180%;
    height: 40px;
    border-radius: 7px;
    background-color: var(--golden-glow);
    border: 1px solid var(--salt-box);
    font-size: 100%;
}

.item:hover {
    background-color: rgb(183, 150, 150);
    cursor: pointer;
}