.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.item {
    width: 20%;
    height: 40px;
    border-color:2px solid rgba(200, 124, 10, 0.952);
    border-radius: 7px;
    background-color: rgba(160, 196, 229, 0.508);
    margin-top: auto;
    margin-bottom: auto;
}