.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    border-radius: 7px;
    background-color: rgba(160, 196, 229, 0.508);
    border: 1px solid rgb(143, 71, 71);
}

.item:hover {
    background-color: rgb(183, 150, 150);
    cursor: pointer;
}
