.logo {
    height: 5%;
    width: 5%;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--salt-box);
    color: var(--golden-glow);
}