.logo {
    height: 5%;
    width: 5%;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 177);
    color: rgb(128, 110, 134);
}

