:root {
  --purple-heart: #6b3dc4;
  --sea-buckthorn: #f79336;
  --salt-box: #6f5575;
  --oasis: #feefcd;
  --fuchsia-blue: #7d55cc;
  --golden-glow: #fde09b;
  --pale-slate: #c5b8c0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
