:root {
  --purple-heart: #6b3dc4;
  --sea-buckthorn: #f79336;
  --salt-box: #6f5575;
  --oasis: #feefcd;
  --fuchsia-blue: #7d55cc;
  --golden-glow: #fde09b;
  --pale-slate: #c5b8c0;
  --background: #c5b8c0;

}

:root.dark {
  --purple-heart: #b79aff;
  --sea-buckthorn: #ffb86c;
  --salt-box: #504352;
  --oasis: #3b2f28;
  --fuchsia-blue: #c3a6ff;
  --golden-glow: #ffdf85;
  --pale-slate: #88828a;

  --background: #423c43;
  --surface: #242033;
  --text: #f2ecff;
  --text-secondary: #c7bfd8;
}

body {
  background: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 760px) {

  .container .item {
    width: 100%;
    font-size: 70%;
    margin-right: 20%;
  }

  .flex-item {
    padding: 0.5vh !important;
  }

  .task-controls {
    /* background-color: #242033; */
    flex-direction: column !important;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* justify-items: center; */

    width: 25px !important;
  }

  .task-list {
    width: 65% !important;
  }

  input[type="checkbox"] {
    width: 1.2em !important;
    height: 1.2em !important;
  }

  input[type="checkbox"]::before {
    width: 0.75em !important;
    height: 0.75em !important;
  }

  .logo {
    height: 15% !important;
    width: 15% !important;
  }

  .task-field {
    width: 60% !important;
    height: 3vh !important;
  }

  .add-button {
    height: 5vh !important;
  }

  .theme-toggle {
    position: relative;
    width: 50px !important;
    height: 25px !important;
  }

  .theme-toggle .slider::before {
    height: 20px !important;
    width: 20px !important;
    left: 2px !important;
    bottom: 2px !important;
  }

  .text {
    font-size: 70%;
    padding-right: 5px;
  }
}